body {
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}

.topbar {
  height: 50px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
}

#menuBtn {
  font-size: 20px;
  margin-right: 10px;
}

#pageTitle {
  flex: 1;
  padding: 5px;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: -260px;
  width: 250px;
  height: 100%;
  background: #333;
  color: white;
  padding: 10px;
  transition: 0.3s;
  overflow-y: auto;
}

.sidebar button, .sidebar input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

canvas {
  position: absolute;
  top: 50px;
  left: 0;
  background: white;
}
